<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
    <h1 class="display-4">Alpha Blog </h1>
    <p class="lead">This is Geo's first project on his journey of becoming the best web developer of all time.</p>
    <hr class="my-4">
    <p>Rae wanted a piece of this as well. So, shoutout to her.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign Up!</a>
    </div>
  </div>

  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; Your Website</small>
  </div>
</footer>