<h1>This is the home page.</h1>
<p>This is the home page of the one and only Alpha_Blog. </p>

<h2>However, Raegen rules the house. </h2>
<p>So, as a result I had to be sure to mention her in this page in order to keep the peace in the home.</p>

<%= link_to 'Articles Listing', articles_path %> |
<%= link_to 'About Page', about_path %>